
$btn-default-color: $white;
$btn-dark-color: $black;
$btn-green: $green;
$btn-dark: $dark-gray;
$btn-cyan: $cyan;
$btn-yellow: $yellow;
$btn-blue: $blue;
$btn-purple: $purple;


%btn{
    display: inline-block;
    padding: 15px 25px;
/*    border-radius: 10px;*/
    /*@include radius(30px);*/
    @include customRadius(40px, 5px, 40px, 5px);
    border: none;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.btn-green{
    @extend %btn;
    background-color: $btn-green;
    color: comfort($btn-green);
}
.btn-dark{
    @extend %btn;
    background-color: $btn-dark;
    color: comfort($btn-dark);
}
.btn-cyan{
    @extend %btn;
    background-color: $btn-cyan;
    color: comfort($btn-cyan);
}
.btn-yellow{
    @extend %btn;
    background-color: $btn-yellow;
    color: comfort($btn-yellow);
}
.btn-blue{
    @extend %btn;
    background-color: $btn-blue;
    color: comfort($btn-blue);
}
.btn-purple{
    @extend %btn;
    background-color: $btn-purple;
    color: comfort($btn-purple);
}